section {
	margin: 0 auto;
	overflow: hidden;
	width: 1000px;
	padding-bottom: 5em;
}

.post {
	color: black;
	display: inline-block;
	margin: .5em;
	text-decoration: none;
}

.post:hover {
	text-decoration: none;
}

.post div {
	background: #F8F8F8;
	min-height: 280px;
	padding: .5em;
	position: relative;
	width: 280px;
}

.post div .image img {
	width: 265px;
	height: 88px;
}

.post div .title {
	color: white;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	text-shadow: 1px 1px 5px black;
	top: 1em;
}

.post div .content {
	text-align: justify;
}

.post div .date {
	color: grey;
	font-size: 14px;
	text-align: right;
}
/*
	detalles del post
*/

.portada img {
	width: 1000px;
}

/*
*
* Estilos de la aplicacion home
*
*/
.login {
	background: rgba(128, 128, 128, 0.42);
	overflow: hidden;
	padding: 1em;
}

h4,
h3,
h1 {
	text-align: center;
}

section h1,
section h2,
section h3,
section h4 {
	text-align: justify;;
}

.form {
	margin: 3em auto;
	width: 350px;
}

.form p {
	display: inline-block;
	text-align: center;
	width: 300px;
}


.form form {
	margin: 0 auto;
	width: 300px;
}

.form-image {
	width: 20em;
}

#id_portada {
	display: none;
}

p label {
	display: none;
}

input {
	width: 300px;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.27);
  font-size: 1.2em;
  height: 50px;
  margin: 0 auto;
  padding: 1em;
}

input[type="submit"] {
	background: #F8F8F8;
	color: black;
	float: right;
	padding: .5em;
}

a.btn {
	display: block;
  margin-top: .5em;
  margin: 0 auto;
  width: 300px;
}

.formEmail {
	margin: 0 auto;
	width: 300px;
}

label[for="id_title"],
label[for="id_description"],
label[for="id_content"],
label[for="id_portada"] {
	display: block;
}

/* Admin View */

article.post-item {
	border: 1px solid grey;
	border-radius: 5px;
	background: #F8F8F8;
	padding: .5em;
	margin-top: .5em;
	position: relative;
}

article.post-item:hover {
	box-shadow: 2px 2px 20px grey;
}

.inline-block.post-options {
    float: right;
}

p.inline-block.post-item {
    margin-right: 5em;
    position: absolute;
    right: 5em;
}

.inline-block {
	display: inline-block;
	margin: 0;
}

.options-panel {
	text-align: center;
}

.options-panel li {
	display: inline-block;
	list-style: none;
}

.options-panel li:nth-child(even) {
	margin-left: 3em;
}

.confirm {
	width: auto;
	padding: 3em;
}

p.confirm-text {
	display: block;
  text-align: center;
  width: auto;;
  margin: 2em;
  font-size: 18px;
}

a.confirm-decline {
	padding: 1em;
	display: inline-block;
}

input.confirm-confirm {
	background: #478e3c;
	color: white;
}
